nav{
    background-color: #64b5f6;
}
.prueba{
    height: 100px;
}
td li{
    color:black;
}
li .material-icons{
    color:white;
}
.pagination li.active a {
    background-color:#009688;
}
   
.material-icons{
    color:black;
}
.button-collapse{
    z-index: 1;
}
.margin{
    margin-top: 7%;
}
.nomargin{
    margin-top: -20%;
}
.cerrar{
    padding-right: 25px;
}
.formulario .error ul {
	padding: 0 15px;
}

.formulario .error ul li {
	margin-bottom: 10px;	
}
td, th{
    list-style: none;
}
  